body{
    background-color: rgb(17, 4, 30);
    color:rgb(68, 0, 255);
    font-size: 30px;
      }
      


nav{
    height: 600px;
    width: 200px;
    float: left;
    padding:  5px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
}

#MEMIMAGE{
    margin-right: 200px;
}

h1{
    text-align: center;
     color: rgb(241, 230, 230);
     font-size: 50px;
     text-align: center;
      
      
}